/* ==========================================================================
FOOTER
========================================================================== */

.c-site-footer {
	padding: 0;
	color: var(--wp--custom--colors--white);
	margin-top: var(--wp--custom--spacings--xl);

	@include for-tablet-landscape-up {
		margin-top: calc(var(--wp--custom--spacings--xxxxxxl) * 1.5);
	}

	@for $i from 1 through 6 {

		h#{$i} {

			color: var(--wp--custom--colors--white);
		}
	}

	p {
		margin-bottom: var(--wp--custom--spacings--s);
	}

	a:hover {
		color: var(--wp--custom--colors--gray);
	}

	.wp-block-social-links {

		svg {
			font-size: var(--wp--preset--font-size--large);
		}
	}

	.menu-wrapper {

		@include reset_list_style;

		display: flex;
		justify-content: center;
		grid-gap: var(--wp--custom--spacings--xs);

		@include for-tablet-landscape-up {
			justify-content: flex-start;
			gap: 0;
		}

		li {
			display: flex;

			&:not(:last-child) {

				&::after {
					content: "";
					display: block;
					width: 1px;
					height: 100%;
					background-color: var(--wp--custom--colors--white);
					margin: 0 var(--wp--custom--spacings--s);
				}
			}

			a {
				text-decoration: none;

				&:hover,
				&:focus,
				&:active {
					text-decoration: underline;
				}
			}
		}
	}
}

.footer-wrap {
	padding: 0;

	@include for-tablet-landscape-up {
		padding: var(--wp--custom--spacings--xxxxxl) 0;
	}

	.footer-wrap-row {

		@include for-tablet-landscape-up {

			@include grid_container;
		}

		@include for-tablet-landscape-up {
			display: grid !important;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-auto-columns: 1fr 1fr;
			grid-auto-rows: 1fr 1fr;
			grid-gap: var(--wp--custom--spacings--m);
		}

		.footer-newsletter-form,
		.footer-right-side,
		.footer-copyright {
			border: none;
			border-radius: 0 !important;
		}

		.footer-right-side,
		.footer-copyright {
			color: var(--wp--custom--colors--white);
		}

		.footer-newsletter-form {
			color: var(--wp--custom--colors--black);
			padding: var(--wp--custom--spacings--m);

			@include for-tablet-landscape-up {
				grid-area: 1 / 1 / 2 / 2;
				max-width: 580px;
				margin-top: -150px;
				margin-bottom: 150px;
			}

			h4 {
				color: var(--wp--custom--colors--black);
			}
		}

		.footer-right-side {
			padding: 0;
			grid-area: 1 / 2 / 3 / 3;
			height: 100%;

			@include up-to-tablet-portrait {
				gap: 0;
			}

			nav {

				@include up-to-tablet-portrait {
					padding: var(--wp--custom--spacings--s);
					border-bottom: 1px solid var(--wp--custom--colors--white-rgba-01);
				}

				@include for-tablet-portrait-up {
					padding-bottom: var(--wp--custom--spacings--m);
				}

				ul {

					@include reset_list_style;

					li {

						&.menu-item-has-children {

							> a {
								text-transform: uppercase;
								font-weight: 800;
								color: var(--wp--custom--colors--white);

								&[aria-expanded="true"] {
									padding-bottom: var(--wp--custom--spacings--xs);

									button {
										transform: rotate(180deg);
										// smooth transition
										transition: transform 0.3s ease;
									}
								}

								@include up-to-tablet-portrait {
									display: flex;
									justify-content: space-between;
									align-items: center;

									button {
										display: block;
										width: 20px;
										height: 20px;
										background: url(map-get($images, 'icon-dropdown'));
										background-repeat: no-repeat;
										background-position: center;
										border: none;
										cursor: pointer;
									}
								}
							}

							&.menu-item-expanded {

								.sub-menu {
									height: auto;
								}
							}

							.sub-menu {

								li {

									a {
										color: var(--wp--custom--colors--white-rgba-07);
										font-size: var(--wp--preset--font-size--x-small);
									}
								}

								@include up-to-tablet-portrait {
									height: 0;
									overflow: hidden;
								}

								.heavy {
									padding-top: var(--wp--custom--spacings--s);

									> a {
										font-weight: 800;
										color: var(--wp--custom--colors--white);
										font-size: var(--wp--preset--font-size--small);
									}

									li {
										margin: var(--wp--custom--spacings--xs) 0;
									}

									button {

										@include up-to-tablet-landscape {
											display: none;
											width: 0;
											height: 0;
										}
									}
								}
							}
						}

						a {
							text-decoration: none;

							&:hover,
							&:focus,
							&:active {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

		.footer-copyright {
			padding: var(--wp--custom--spacings--m);

			@include up-to-tablet-landscape {
				text-align: center;

				figure {
					display: none;
				}
			}

			@include for-tablet-landscape-up {
				grid-area: 2 / 1 / 3 / 2;
				grid-gap: var(--wp--custom--spacings--xxxl);
				padding: var(--wp--custom--spacings--l) 0 0 0;
				max-width: 580px;
				margin-top: -150px;
				padding-bottom: 150px;
			}

			.footer-copyright-middle-section {

				p,
				a {
					font-size: var(--wp--preset--font-size--x-small);
					color: var(--wp--custom--colors--white);
				}

				nav {
					padding-bottom: var(--wp--custom--spacings--s);
				}

				@include for-tablet-landscape-up {
					gap: var(--wp--custom--spacings--s);
				}
			}

			figure {

				@include for-tablet-landscape-up {
					padding-top: var(--wp--custom--spacings--xl);
				}

				img {
					margin-left: 0;
				}
			}
		}
	}
}
