/* ==========================================================================
HEADINGS
========================================================================== */

@for $i from 1 through 6 {

	h#{$i} {

		@include font_prop_heading($i);
		margin: 0 0 var(--wp--custom--spacings--s);

		// If the element is the last child.
		&:last-child {
			margin-bottom: 0;
		}

		// If the element has a background.
		&.has-background {
			padding: var(--wp--custom--spacings--s) var(--wp--custom--spacings--m);
		}

		strong {
			font-weight: 900;
		}
	}
}
