/* ==========================================================================
IMAGES
========================================================================== */
:root {
	--card-height: 300px;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.svg-icon {
	position: relative;
	top: 1px;
}
