/* ==========================================================================
BREAKPOINTS
========================================================================== */

$phone-min: 545px;
$phone-max: $phone-min - 1;
$gutenberg-mobile-min: 601px;
$gutenberg-mobile-max: $gutenberg-mobile-min - 1;
$woo-mobile-min: 767px;
$woo-mobile-max: $woo-mobile-min - 1;
$tablet-portrait-min: 782px;
$tablet-portrait-max: $tablet-portrait-min - 1;
$tablet-landscape-min: 1025px;
$tablet-landscape-max: $tablet-landscape-min - 1;
$desktop-min: 1200px;
$desktop-max: $desktop-min - 1;
$grid-width-min: 1433px;
$grid-width-max: $grid-width-min - 1;
$big-desktop-min: 1800px;
$big-desktop-max: $big-desktop-min - 1;
