//==========================================================================
// FONTS
//==========================================================================

/* Figtree-regular - latin */
@font-face {
	font-display: swap;
	font-family: Figtree;
	font-style: normal;
	font-weight: 400;
	src:
		url(../fonts/figtree-v4-latin-regular.woff2) format(woff2), /* Super Modern Browsers */
		url(../fonts/figtree-v4-latin-regular.woff) format(woff), /* Modern Browsers */
		url(../fonts/figtree-v4-latin-regular.ttf) format(truetype), /* Safari, Android, iOS */
		url(../fonts/figtree-v4-latin-regular.svg#Figtree) format(svg); /* Legacy iOS */
}

/* Figtree-italic - latin */
@font-face {
	font-display: swap;
	font-family: Figtree;
	font-style: italic;
	font-weight: 400;
	src:
		url(../fonts/figtree-v4-latin-italic.woff2) format(woff2), /* Super Modern Browsers */
		url(../fonts/figtree-v4-latin-italic.woff) format(woff), /* Modern Browsers */
		url(../fonts/figtree-v4-latin-italic.ttf) format(truetype), /* Safari, Android, iOS */
		url(../fonts/figtree-v4-latin-italic.svg#Figtree) format(svg); /* Legacy iOS */
}

/* Figtree-500 - latin */
@font-face {
	font-display: swap;
	font-family: Figtree;
	font-style: normal;
	font-weight: 500;
	src:
		url(../fonts/figtree-v4-latin-500.woff2) format(woff2), /* Super Modern Browsers */
		url(../fonts/figtree-v4-latin-500.woff) format(woff), /* Modern Browsers */
		url(../fonts/figtree-v4-latin-500.ttf) format(truetype), /* Safari, Android, iOS */
		url(../fonts/figtree-v4-latin-500.svg#Figtree) format(svg); /* Legacy iOS */
}

/* Figtree-600 - latin */
@font-face {
	font-display: swap;
	font-family: Figtree;
	font-style: normal;
	font-weight: 600;
	src:
		url(../fonts/figtree-v4-latin-600.woff2) format(woff2), /* Super Modern Browsers */
		url(../fonts/figtree-v4-latin-600.woff) format(woff), /* Modern Browsers */
		url(../fonts/figtree-v4-latin-600.ttf) format(truetype), /* Safari, Android, iOS */
		url(../fonts/figtree-v4-latin-600.svg#Figtree) format(svg); /* Legacy iOS */
}

/* Figtree-700 - latin */
@font-face {
	font-display: swap;
	font-family: Figtree;
	font-style: normal;
	font-weight: 700;
	src:
		url(../fonts/figtree-v4-latin-700.woff2) format(woff2), /* Super Modern Browsers */
		url(../fonts/figtree-v4-latin-700.woff) format(woff), /* Modern Browsers */
		url(../fonts/figtree-v4-latin-700.ttf) format(truetype), /* Safari, Android, iOS */
		url(../fonts/figtree-v4-latin-700.svg#Figtree) format(svg); /* Legacy iOS */
}

/* Figtree-700italic - latin */
@font-face {
	font-display: swap;
	font-family: Figtree;
	font-style: italic;
	font-weight: 700;
	src:
		url(../fonts/figtree-v4-latin-700italic.woff2) format(woff2), /* Super Modern Browsers */
		url(../fonts/figtree-v4-latin-700italic.woff) format(woff), /* Modern Browsers */
		url(../fonts/figtree-v4-latin-700italic.ttf) format(truetype), /* Safari, Android, iOS */
		url(../fonts/figtree-v4-latin-700italic.svg#Figtree) format(svg); /* Legacy iOS */
}

/* Figtree-800 - latin */
@font-face {
	font-display: swap;
	font-family: Figtree;
	font-style: normal;
	font-weight: 800;
	src:
		url(../fonts/figtree-v4-latin-800.woff2) format(woff2), /* Super Modern Browsers */
		url(../fonts/figtree-v4-latin-800.woff) format(woff), /* Modern Browsers */
		url(../fonts/figtree-v4-latin-800.ttf) format(truetype), /* Safari, Android, iOS */
		url(../fonts/figtree-v4-latin-800.svg#Figtree) format(svg); /* Legacy iOS */
}

/* Figtree-900 - latin */
@font-face {
	font-display: swap;
	font-family: Figtree;
	font-style: normal;
	font-weight: 900;
	src:
		url(../fonts/figtree-v4-latin-900.woff2) format(woff2), /* Super Modern Browsers */
		url(../fonts/figtree-v4-latin-900.woff) format(woff), /* Modern Browsers */
		url(../fonts/figtree-v4-latin-900.ttf) format(truetype), /* Safari, Android, iOS */
		url(../fonts/figtree-v4-latin-900.svg#Figtree) format(svg); /* Legacy iOS */
}
